html, body{
	width: 100%;
}

body{
	background: linear-gradient(45deg, rgba(5,134,163,1) 0%, rgba(117,189,209,1) 51%, rgba(234,236,237,1) 100%);
}

header{
	height: 3em;
	border-bottom: 1px solid gray;
	background: linear-gradient(45deg, rgba(5,134,163,1) 0%, rgba(117,189,209,1) 51%, rgba(234,236,237,1) 100%);
	text-align: center;
}

header>img{
	position: absolute;
	height: 3em;
    left: 5px;
}

header>p{
	margin-top: 0;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2em;
    vertical-align: top;
    color: white;
    font-style: italic;
}

header>.btn-group, 
header button[type=submit]{
    margin-top: 5px;
    top: 0;
    position: absolute;
    right: 5px;
}

header>.btn-group.btn-login>button{
	color: white;
}

header>.btn-group.btn-login.show>button{
	color: transparent;
}

header .dropdown-menu{
	background-color: beige;
}

section{
	display: flex;
}

section>img{
	height: 25em;
	opacity: .2;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
}

section>div{
	margin-left: 2em;
    width: 100%;
    margin-top: 3em;
    padding-right: 1em;
    padding-bottom: 1em;
    overflow-y: hidden;
    margin-bottom: 1em;
}

section>div>h2{
	text-decoration: underline;
}
section>div>textarea{
	display: inline-block;
    background-color: transparent;
    margin-top: 1em;
    overflow-y: hidden;
    width: 100%;
    text-align: justify;
    border: none;
    height: 100%;
}

body>textarea{
	display: inline-block;
    background-color: transparent;
    overflow-y: hidden;
    width: 100%;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    height: 100%;
}

#id-prohibido h1{
	margin: 2em;
    font-weight: bold;
    font-size: 3em;
}

#id-prohibido a{
	margin-left: 6em;
}

.cls-rol>h1{
	margin: 1em;
}

footer{
	position: fixed;
	bottom: 0;
	padding-left: 1em;
}

.cls-rol footer{
	background-color: beige;
}
